@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");
@import "node_modules/bulmaswatch/default/bulmaswatch";
@import "./spacers.scss";

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-weight: 900;
}

h1 {
  font-size: "5rem";
}

.has-icon-background {
  background: #ffc0c0;
  width: 50px;
  height: 50px;
  margin: 30px;
  border-radius: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.has-right-margin-on-mobile {
  @media only screen and (max-width: 600px) {
    margin-right: 2rem;
  }
}
