// Custom Bulma variables
$button-border-width: 3px;
$white: #fafafa;
$grey-darker: #1b2836;
$grey-dark: #9ca8ac;

$footer-background-color: #1b2836;

$primary: #5db4ed;
$blue: #5db4ed;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");
@import "node_modules/bulmaswatch/default/bulmaswatch";
@import "./spacers.scss";

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.has-right-margin-on-mobile {
  @media only screen and (max-width: 1024px) {
    margin-right: 2rem;
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// TODO: could use this with a similiar colour background
// to have a jaunty layout.
// .hero {
//   clip-path: polygon(0 0, 1800px 0, 1800px 90%, 0 100%);
// }

#hero-title {
  font-size: 5rem;
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}

#hero-tagline {
  font-size: 1.5rem;
}

.curve {
  display: block;
  margin-bottom: -0.5rem;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.transparent {
  opacity: 0.5;
}

.navbar-burger span {
  height: 2px;
  color: $grey-darker;
}
